<!-- //header -->
<header class="py-sm-3 pt-3 pb-2">
    <div class="container">
        <div id="logo">
            <h1> <a routerLink="/home"> Kampong chicken house</a></h1>
        </div>
        <!-- nav -->
        <nav class="d-lg-flex">

            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2 ml-auto">
                <li class="active"><a routerLink="/home">Trang chủ</a></li>
                <li class=""><a routerLink="/about">Giới thiệu</a></li>
                <li class=""><a routerLink="/menu">Thực đơn</a></li>
                <li class=""><a routerLink="/news">Tin tức</a></li>
                <li class=""><a routerLink="/contact">Liên hệ với chúng tôi</a></li>
            </ul>
            <div class="login-icon ml-2">
                <a class="user" href="#"> Gọi ngay</a>
            </div>
        </nav>
        <div class="clear"></div>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<div class="row">
    <!-- <app-dish class="col-lg-4 col-md-6 mb-4"></app-dish>
  <app-dish class="col-lg-4 col-md-6 mb-4"></app-dish>
  <app-dish class="col-lg-4 col-md-6 mb-4"></app-dish> -->
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let dish of dishs">

        <div class="card h-100">
            <a href="#"><img class="card-img-top" [src]="dish.img" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{dish.name}}</a>
                </h4>
                <h5>${{dish.price}}</h5>
                <p class="card-text">{{dish.desc}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <button class="btn btn-primary d-block w-100 btn-lg" routerLink="/dish/{{dish.id}}">show</button>

            </div>
        </div>

    </div>

</div>
<!-- footer -->
<footer class="py-5">
    <div class="container py-sm-3">
        <div class="row footer-grids">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-4"><span class="fa fa-cutlery"></span> Crispy</h4>
                <p class="mb-3">Onec Consequat sapien ut cursus rhoncus. Nullam dui mi, vulputate ac metus semper quis luctus sed.</p>
                <h5>Trusted by <span>500+ People</span> </h5>
            </div>
            <div class="col-lg-3 col-sm-6 mb-md-0 mb-sm-5 mb-4">
                <h4 class="mb-4">Address Info</h4>
                <p><span class="fa mr-2 fa-map-marker"></span>64d canal street TT 3356 <span>Newyork, NY.</span></p>
                <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +1(12) 123 456 789 </p>
                <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <div class="col-lg-2 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-4">Quick Links</h4>
                <ul>
                    <li><a href="#">Order Online</a></li>
                    <li class="my-2"><a href="#">Healthy Crispy</a></li>
                    <li><a href="#">Support Helpline</a></li>
                    <li class="mt-2"><a href="#">Privacy Ploicy</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h4 class="mb-4">Subscribe Us</h4>
                <p class="mb-3">Subscribe to our newsletter</p>
                <form action="#" method="post" class="d-flex">
                    <input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <div class="icon-social mt-3">
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-facebook"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-twitter"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-dribbble"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-pinterest"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-google-plus"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->