<!-- //header -->
<header class="py-sm-3 pt-3 pb-2">
    <div class="container">
        <div id="logo">
            <h1> <a routerLink="/home"> Kampong chicken house</a></h1>
        </div>
        <!-- nav -->
        <nav class="d-lg-flex">

            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2 ml-auto">
                <li class="active"><a routerLink="/home">Trang chủ</a></li>
                <li class=""><a routerLink="/about">Giới thiệu</a></li>
                <li class=""><a routerLink="/menu">Thực đơn</a></li>
                <li class=""><a routerLink="/news">Tin tức</a></li>
                <li class=""><a routerLink="/contact">Liên hệ với chúng tôi</a></li>
            </ul>
            <div class="login-icon ml-2">
                <a class="user" href="#"> Gọi ngay</a>
            </div>
        </nav>
        <div class="clear"></div>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<!-- banner -->
<div class="banner" id="home">
    <div class="layer">
        <div class="container">
            <div class="banner-text-agile">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <!-- banner slider-->
                        <div class="csslider infinity" id="slider1">
                            <input type="radio" name="slides" checked="checked" id="slides_1" />
                            <input type="radio" name="slides" id="slides_2" />
                            <input type="radio" name="slides" id="slides_3" />
                            <ul class="banner_slide_bg">
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Gà sạch</span> Vị ngon.</h3>
                                            <p class="w3ls_pvt-title my-3">Ra đời từ tháng 04 năm 2015 với tên gọi Kampong Chicken House, đây là một mô hình Nhà hàng Á phục vụ nhanh, lý tưởng dành cho xã hội hiện đại. Kể từ khi thành lập cho tới nay, Kampong Chicken House luôn được
                                                khách hàng nhắc tới là mô hình nhà hàng đầu tiên phục vụ chuyên biệt Cơm gà Hải Nam chuẩn phong vị Singapore. Thế nhưng điểm khác biệt lớn nhất tạo nên ưu thế là Kampong Chicken House luôn sử dụng nguyên
                                                liệu gà tươi thả vườn, cho ra chất lượng thịt thơm ngọt kết hợp cùng các loại nước sốt được làm tươi trong ngày. Bên cạnh đó, với không gian xanh, sạch, phong cách phục vụ chuyên nghiệp cùng thực đơn đa
                                                dạng các món ăn từ gà ta được chế biến theo phong vị Châu Á hiện đại cũng là điểm gây ấn tượng với các khách hàng đã từng đến với Kampong Chicken House.</p>
                                            <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                            <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Contact Us</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Tasty and healthy</span> Food</h3>
                                            <p class="w3ls_pvt-title my-3">Onec Consequat Sapien Ut Leo Cursus Rhoncus. Nullam Dui Mi, Vulputate Ac Metus Semper Nullam Dui Mi. Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices Posuere Cubilia Curae.</p>
                                            <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                            <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Contact Us</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Delicious & crispy</span> Recipes</h3>
                                            <p class="w3ls_pvt-title my-3">Onec Consequat Sapien Ut Leo Cursus Rhoncus. Nullam Dui Mi, Vulputate Ac Metus Semper Nullam Dui Mi. Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices Posuere Cubilia Curae.</p>
                                            <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                            <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Contact Us</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="navigation">
                                <div>
                                    <label for="slides_1"></label>
                                    <label for="slides_2"></label>
                                    <label for="slides_3"></label>
                                </div>
                            </div>
                        </div>
                        <!-- //banner slider-->

                    </div>
                    <div class="col-lg-6 col-md-8 mt-lg-0 mt-5">
                        <img src="https://channel.vcmedia.vn/thumb_w/640/prupload/164/2016/07/img20160718113438378.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5">
    <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4">Giới thiệu </h2>
        <div class="row">
            <div class="col-lg-8">
                <h4 class="about-left">Tại sao bạn chọn chúng tôi!</h4>
                <p class="mt-sm-4 mt-3">Có khá nhiều các nhà hàng ngon chuyên về những món gà, nhưng không phải nhà hàng nào cũng chú trọng chất lượng của từng món ăn được như nhà hàng Kampong Chicken House! Để kể về những món ngon ở Kampong Chicken House có lẽ bạn sẽ phải mất
                    cả tiếng đồng hồ mới kể hết được, bởi hương vị món ăn ở đây nổi tiếng thơm ngon từ những món khai vị, món chính, món ăn kèm đến cả những món tráng miệng sau bữa ăn cũng thật hấp dẫn. Đặt biệt Gà ở Kampong Chicken House đều là gà ta
                    thả vườn nên không chỉ thơm ngon, ngọt đậm mà còn an toàn nữa.</p>
                <div class="row mt-4">
                    <div class="col-md-3 col-6">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-birthday-cake"></span>
                            </span>
                            <h4>Khỏe mạnh</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-rocket"></span>
                            </span>
                            <h4>Sạch sẽ</h4>
                        </div>
                    </div>
                    <!-- .about-box ends here -->
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-cutlery"></span>
                            </span>
                            <h4>Thơm ngon</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-coffee"></span>
                            </span>
                            <h4>Chất Lượng Tốt</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 dental">
                <img src="https://kampongchickenhouse.com.vn/assets/images/logo.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- about bottom -->
<section class="about-bottom pb-5">
    <div class="container pb-lg-3">
        <div class="row bottom-grids">
            <div class="col-lg-6">
                <img src="https://cdn-www.vinid.net/2019/12/Kampong-Chicken-House-bang-ma-giam-gia-cua-VinID.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>Lịch sử ra đời.</h4>
                <p class="py-3">Ra đời từ tháng 04 năm 2015 với tên gọi Kampong Chicken House, đây là một mô hình Nhà hàng Á phục vụ nhanh, lý tưởng dành cho xã hội hiện đại. Kể từ khi thành lập cho tới nay, Kampong Chicken House luôn được khách hàng nhắc tới là mô hình
                    nhà hàng đầu tiên phục vụ chuyên biệt Cơm gà Hải Nam chuẩn phong vị Singapore. Thế nhưng điểm khác biệt lớn nhất tạo nên ưu thế là Kampong Chicken House luôn sử dụng nguyên liệu gà tươi thả vườn, cho ra chất lượng thịt thơm ngọt kết
                    hợp cùng các loại nước sốt được làm tươi trong ngày. Bên cạnh đó, với không gian xanh, sạch, phong cách phục vụ chuyên nghiệp cùng thực đơn đa dạng các món ăn từ gà ta được chế biến theo phong vị Châu Á hiện đại cũng là điểm gây ấn
                    tượng với các khách hàng đã từng đến với Kampong Chicken House.</p>
            </div>
        </div>
    </div>
</section>
<!-- //about bottom -->

<!-- services -->
<section class="services py-5">
    <div class="container py-lg-5">
        <h3 class="heading text-center mb-sm-5 mb-4">Chúng tôi làm được những gì</h3>
        <div class="row offer-grids">
            <div class="col-lg-4 col-md-6">
                <div class="ser1">
                    <div class="bg-layer">
                        <h4 class="">Dịch vụ 1</h4>
                        <p class="mt-3">Chúng tôi cung cấp dịch vụ ăn uống đẳng cấp 4*</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="ser2">
                    <div class="bg-layer">
                        <h4 class="">Dịch vụ 2</h4>
                        <p class="mt-3">Đồ ăn luôn được đảm bảo chất lượng vệ sinh, nhưng đồng thời giá thành cũng vừa phải</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="ser3">
                    <div class="bg-layer">
                        <h4 class="">Dịch vụ 3</h4>
                        <p class="mt-3">Đồ uống tươi mát, được pha chế bởi nhân viên pha chế có đào tạo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser4">
                    <div class="bg-layer">
                        <h4 class="">Dịch vụ 4</h4>
                        <p class="mt-3">Nhân viên chăm chỉ, luôn có mặt khi khách yêu cầu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser5">
                    <div class="bg-layer">
                        <h4 class="">Dịch vụ 5</h4>
                        <p class="mt-3">Chúng tôi cung cấp dịch vụ giao hàng tận nhà khi khách hàng order</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser6">
                    <div class="bg-layer">
                        <h4 class="">Dịch vụ 6</h4>
                        <p class="mt-3">Chúng tôi liên kết với GrabFood và Now.vn để khách hàng có thể order online tại nhà</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->

<!-- testimonials -->
<section class="feedback" id="testimonials">
    <div class="feedback-layer py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-sm-5 mb-4">Đánh giá của khách hàng</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p> Tôi đã từng đến đây và cảm thấy khá thú vị, view của nhà hàng rất đẹp, chất lượng đồ ăn rất tốt mà giá thành lại phải chăng nữa. </p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/p960x960/93383274_897395420721258_749746744073388032_o.jpg?_nc_cat=105&_nc_sid=85a577&_nc_oc=AQkn2dosIQI4CNAfC9MPaeSxNVunHgZwCSdBprYvzGA_r8MtN112SN7_aYBllek2uXk&_nc_ht=scontent.fhan4-1.fna&_nc_tp=6&oh=6bdadd32bb4d41d11d6fa3e5176623f6&oe=5EC31840"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Nguyễn Như Nguyên</h5>
                                <p class="font-italic">- Ngày 3, Tháng 4, Năm 2021</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p> Thật không thể tin được, đồ ăn ở đây rất tuyệt và chất lượng đồ uống cũng không hề tệ. giá thành các món ăn rất rẻ, thái độ phục vụ của nhân viên rất tốt. Tồi rất hài lòng</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/s960x960/93009663_552920022000996_3217879834210336768_o.jpg?_nc_cat=111&_nc_sid=85a577&_nc_oc=AQlbBiLSzVY9ax0ShfZUEAyEWlDgFuCMwrMDyuZPTEbvSmnzDyhOYSYZBaAGs8cNTP8&_nc_ht=scontent.fhan3-2.fna&_nc_tp=7&oh=484244378562cb155421b80b2c87cf93&oe=5EC23EF2"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Phạm Thị Thanh Bình</h5>
                                <p class="font-italic">- Ngày 2, Tháng 1, Năm 2021</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p> Tôi có đăng ký là thành viên của nhà hàng nên khi tôi đến vào dịp sinh nhật thì họ đã bí mật tổ chức sinh nhật cho tôi. Tôi thấy mình thật là hạnh phúc</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/p960x960/84444548_618624418895183_594793549623459840_o.jpg?_nc_cat=107&_nc_sid=85a577&_nc_oc=AQkHAT779XPpYdx4W_dPcPdje-UGM5O3XpxAuvH0cg3k-y8NsKa7cC6L8_--tnF0iIM&_nc_ht=scontent.fhan3-2.fna&_nc_tp=6&oh=26693c4b7d26bcff1037a124b7ed303b&oe=5EC27084"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Nghiêm Đình Phước</h5>
                                <p class="font-italic">- Ngày 22, Tháng 1, Năm 2021</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->

<!-- blog -->
<section class="blog py-5">
    <div class="container py-md-5 py-3">
        <h3 class="heading text-center mb-sm-5 mb-4">Tin Tức </h3>
        <div class="row blog-grids">
            <div class="col-lg-7 mb-lg-5 blog-img1">
                <img src="https://images.foody.vn/res/g70/695814/s800/foody-kampong-chicken-house-hoang-dao-thuy-323-637103825897753147.jpg" alt="" class="img-fluid" />
                <a href="single.html">Blog #1</a>
            </div>
            <div class="col-lg-5 mb-lg-5 mb-4">
                <h5>March 3, 2019.</h5>
                <h4 class="my-3">Kampong Hoàng Đạo Thúy</h4>
                <p class="my-3">Mới đây nhà hàng Kampong Hoàng Đạo Thúy vừa tổ chức lễ party cuối năm dành cho các nhân viên làm việc tại công ty Anh Minh Group </p>
                <a href="single.html" class="btn-banner"> View Post </a>
            </div>
            <div class="col-lg-5 mb-lg-0 mb-4">
                <h5>March 3, 2019.</h5>
                <h4 class="my-3">Kampong Nguyễn Hoàng</h4>
                <p class="my-3">Được khách hàng đánh giá cao về mặt view của nhà hàng, theo công bố nhà hàng thu về khoảng 700 triệu mỗi tháng.</p>
                <a href="single.html" class="btn-banner"> View Post </a>
            </div>
            <div class="col-lg-7 blog-img2">
                <img src="https://cdn.pastaxi-manager.onepas.vn/content/uploads/articles/nguyenhuong/kampong/nha-hang-kampong-chicken-house-nguyen-hoang-12.jpg" alt="" class="img-fluid" />
                <a href="single.html">Blog #2</a>
            </div>
        </div>
    </div>
</section>
<!-- //blog -->

<!-- appointment -->
<section class="appointment text-center py-5">
    <div class="container py-sm-3">
        <h4>Muốn ăn ngon. Hãy đến với KAMPONG - Cơm Gà Hải Nam</h4>
        <p class="mt-3">Gọi điện để đặt bàn hoặc order đồ ăn</p>
        <h3>0971442624</h3>
    </div>
</section>
<!-- //appointment -->

<!-- footer -->
<footer class="py-5">
    <div class="container py-sm-3">
        <div class="row footer-grids">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-4"><span class="fa fa-cutlery"></span> Kampongchickenhouse</h4>
                <p class="mb-3">Được đánh giá cao bởi các thực khách khó tính nhất</p>
                <h5>Đánh giá bởi <span>700+ Người</span> </h5>
            </div>
            <div class="col-lg-3 col-sm-6 mb-md-0 mb-sm-5 mb-4">
                <h4 class="mb-4">Địa chỉ</h4>
                <p><span class="fa mr-2 fa-map-marker"></span>số 9 Nguyễn Hoàng<span>Hà Nội</span></p>
                <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +1(12) 123 456 789 </p>
                <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <div class="col-lg-2 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-4">Quick Links</h4>
                <ul>
                    <li><a href="#">Order Online</a></li>
                    <li class="my-2"><a href="#">Healthy Crispy</a></li>
                    <li><a href="#">Support Helpline</a></li>
                    <li class="mt-2"><a href="#">Privacy Ploicy</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h4 class="mb-4">Subscribe Us</h4>
                <p class="mb-3">Subscribe to our newsletter</p>
                <form action="#" method="post" class="d-flex">
                    <input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <div class="icon-social mt-3">
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-facebook"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-twitter"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-dribbble"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-pinterest"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-google-plus"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->